{% extends "base.html" %}

{% block title %} H033b Reporter Tasks | Failed submissions for report id "{{ task_log.id }}" {% endblock %}

{% block content %}
  <div class="container">
      <h3>Failed submissions for report id "{{ task_log.id }}"</h3>
      <div >
      <table class="table">
        <tr>
          <td>
            Started 
          </td>          
          <td>
            {{ task_log.time_started|default_if_none:''}}
          </td>            
          
        </tr>
		{% load status_css_tag %}
        <tr class=" {% get_task_css task_log.status %}">
          <td>
            Result   
          </td>           
          <td >
            {{ task_log.status|default_if_none:'' }}
			{% if task_log.show_resubmit_button %}
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<a href='{% url re_submit_failed task_log.id %}' class="btn btn-primary">Re-submit Now</a>
			{% endif %}	
          </td>            
          
        </tr>
        
      </table>
      </div>
      
     <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              Submissions ID
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          
          {% for task_submission in task_submissions_paginator.object_list %}
            <tr class=" {% get_submission_css task_submission.result %}">
              <td>
                {{ task_submission.submission_id|default_if_none:'' }}
              </td>
              <td>
                {{ task_submission.description|default_if_none:'' }}
              </td>

            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if task_submissions_paginator.object_list > 0 %}
      <div class="pagination">
          <ul>
          {% if task_submissions_paginator.has_previous %}
              <li><a href="?page={{ task_submissions_paginator.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; Prev</a></li>
          {% else %}
              <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; Prev</a></li>
          {% endif %}
           <li  class="disabled prev">
             <a href="#">
              {{ task_submissions_paginator }}
             </a>
           </li>
          {% if task_submissions_paginator.has_next %}
              <li><a href="?page={{ task_submissions_paginator.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">Next &rsaquo;&rsaquo;</a></li>
          {% else %}
              <li class="disabled next"><a href="#">Next &rsaquo;&rsaquo;</a></li>
          {% endif %}
          </ul>
      </div>
      {% endif %}
{% endblock %}