{% extends "base.html" %}

{% block title %} H033b Reporter Tasks {% endblock %}

{% block content %}
      <h3>DHIS2 Reports Submissions</h3>
     <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Time Started
            </th>
            <th>
              Running Time
            </th>
            <th>
              Result
            </th>
            <th>
              Description
            </th>
            <th>
              Number of submissions
            </th>
          </tr>
        </thead>
        <tbody>
          {% for task_log in tasks_logs_paginator.object_list %}
            <tr  class=" {% get_task_css task_log.status %}">
              <td>
                <a class="task_id" href='{{ task_log.id }}'> {{ task_log.id }}</a>
              </td>
              <td>
                {{ task_log.time_started|default_if_none:'' }}
              </td>
              <td>
                {{ task_log.running_time|default_if_none:'' }}
              </td>
              <td>
                {{ task_log.status|default_if_none:'' }}
              </td>
              <td>
                {{ task_log.description|default_if_none:''}}
              </td>
              <td>
                {{ task_log.number_of_submissions|default_if_none:'' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if tasks_logs_paginator.object_list > 0 %}

      <div class="pagination">
          <ul>
          {% if tasks_logs_paginator.has_previous %}
              <li><a href="?page={{ tasks_logs_paginator.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; Prev</a></li>
          {% else %}
              <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; Prev</a></li>
          {% endif %}
           <li  class="disabled prev">
             <a href="#">
              {{ tasks_logs_paginator }}
             </a>
           </li>
          {% if tasks_logs_paginator.has_next %}
              <li><a href="?page={{ tasks_logs_paginator.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">Next &rsaquo;&rsaquo;</a></li>
          {% else %}
              <li class="disabled next"><a href="#">Next &rsaquo;&rsaquo;</a></li>
          {% endif %}
          </ul>
      </div>
      {% endif %}

{% endblock %}