<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
{% load status_css_tag %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>H033b Reporter Tasks</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dhis2/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dhis2/stylesheets/style.css"/>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <a href="{% url logout_dhis2 %}">logout {{user.username}}</a>
        </ul>
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container">
      <h3>DHIS2 Reports Submissions</h3>
     <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Time Started
            </th>
            <th>
              Running Time
            </th>
            <th>
              Result
            </th>
            <th>
              Description
            </th>
            <th>
              Number of submissions
            </th>
          </tr>
        </thead>
        <tbody>
          {% for task_log in tasks_logs_paginator.object_list %}
            <tr class=" {% get_task_css task_log.status %}" >
              <td>
                <a class="task_id" href='{{ task_log.id }}'> {{ task_log.id }}</a>
              </td>
              <td>
                {{ task_log.time_started }}
              </td>
              <td>
                {{ task_log.running_time }}
              </td>
              <td>
                {{ task_log.status }}
              </td>
              <td>
                {{ task_log.description }}
              </td>
              <td>
                {{ task_log.number_of_submissions }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if tasks_logs_paginator.object_list > 0 %}

      <div class="pagination">
          <ul>
          {% if tasks_logs_paginator.has_previous %}
              <li><a href="?page={{ tasks_logs_paginator.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; Prev</a></li>
          {% else %}
              <li class="disabled prev"><a href="#">&lsaquo;&lsaquo; Prev</a></li>
          {% endif %}
           <li  class="disabled prev">
             <a href="#">
              {{ tasks_logs_paginator }}
             </a>
           </li>
          {% if tasks_logs_paginator.has_next %}
              <li><a href="?page={{ tasks_logs_paginator.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">Next &rsaquo;&rsaquo;</a></li>
          {% else %}
              <li class="disabled next"><a href="#">Next &rsaquo;&rsaquo;</a></li>
          {% endif %}
          </ul>
      </div>
      {% endif %}
  </div>

</body>
</html>
