{% extends "base.html" %}

{% block title %} H033b Reporter Tasks | Submissions for report id "{{ task_log.id }}" {% endblock %}

{% block content %}
  <div class="container">
      <h3>Submissions for report id "{{ task_log.id }}"</h3>
      <div >
      <table class="table">
        <tr>
          <td>
            Started 
          </td>          
          <td>
            {{ task_log.time_started|default_if_none:''}}
          </td>            
          
        </tr>
		{% load status_css_tag %}	
        <tr class=" {% get_task_css task_log.status %}" >
          <td>
            Result   
          </td>           
          <td >
            {{ task_log.status|default_if_none:'' }}
          </td>            
          
        </tr>
        
      </table>
      </div>
      
     <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              Result
            </th>
            <th>
              Number of submissions
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          
          {% for result in results %}
            <tr class=" {% get_submission_css result.result %}">
              <td>
                {{ result.result|default_if_none:'' }}
              </td>
              <td>
	           {% if result.url %}
                <a href="{{ result.url}}">{{ result.size}}</a>
               {% else %}
 					{{ result.size}}
			   {% endif %}
              </td>
              <td>
                {{ result.description|default_if_none:'' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
