<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
{% load status_css_tag %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>H033b Reporter Tasks</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dhis2/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}dhis2/stylesheets/style.css"/>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
			{% include header.html %}
      </div>
    </div>
  </div>
  <br><br><br><br>
  <div class="container">
      <h3>Submissions for report id "{{ task_log.id }}"</h3>
      <div >
      <table class="table">
        <tr>
          <td>
            Started 
          </td>          
          <td>
            {{ task_log.time_started|default_if_none:''}}
          </td>            
          
        </tr>
        <tr class=" {% get_task_css task_log.status %}">
          <td>
            Result   
          </td>           
          <td >
            {{ task_log.status|default_if_none:'' }}
          </td>            
          
        </tr>
        
      </table>
      </div>
      
     <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>
              Result
            </th>
            <th>
              Number of submissions
            </th>
            <th>
              Description
            </th>
          </tr>
        </thead>
        <tbody>
          
          {% for result in results %}
            <tr class=" {% get_submission_css result.result %}">
              <td>
                {{ result.result|default_if_none:'' }}
              </td>
              <td>
                {{ result.size|default_if_none:'' }}
              </td>
              <td>
                {{ result.description|default_if_none:'' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>

</body>
</html>
